*~
*.bak
Makefile.in
Makefile
/Makefile.am
/Makefile.am.common
autodocs*
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
configure.ac
install-sh
missing
pluglib-bindings.ami
src/.dep
src/YaPI/.dep
src/ca-management
/package/yast2-ca-management-*.tar.bz2
/.yardoc
/ca-management.pot
/doc
/testsuite/*.log
/testsuite/*.sum
/testsuite/site.exp
/testsuite/testout
